{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": 0,
    "no-unused-expressions": false
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "spy": true,
    "expect": true
  }
}
