{
    "env": {
        "mocha": true,
        "node": true
    },
    "globals": {
        "expect": false,
        "localhistory": false
    },
    "rules": {
        "no-unused-expressions": 0
    }
}
