#input, #output {
    width: 400px;
    height: 400px;
    padding: 10px;
    font-family: monospace;
}

th {
    text-align: left;
}

#output {
    background: #F0F0F0;
}

#load {
    margin-top: 40px;
}
